*{
margin: 0px;
padding: 0px;
}
.mainContainer{
    background-image: linear-gradient(to right,#fff,#6D9Ac4);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signin-container{
width: 27%;
height: 400px;

border-radius: 10px;
background-color: #fff;
display: flex;
flex-direction: column;
align-items: center;

}
.logoAndName{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
}
.user{
    width: 40px;
    height: 40px;
    border: 0.5px solid black;
    border-radius: 50%;
    padding: 3px;
    align-self: center;
}

h2{
    font-family: sans-serif;
    margin: 10px auto;
    color: #6D9Ac4;
}

.inputs-container{
    width: 80%;
   align-self: center;
   display: flex;
   align-items: center;
   justify-content: space-around;
   flex-direction: column;
   height: 220px; 
}
input{
    width: 90%;
    border-radius: 5px;
    height: 20px;
    padding: 10px;
    border-width: 0.5;
    outline:1px solid #6D9Ac4;
    outline-style: none;
}

.forgot-link{
    display: flex;
    align-self: flex-end;
    text-decoration: none;
}
.forgot-link-text{
    font-size: 15px;
    color: #6D9Ac4;
    font-family: sans-serif;
}
.or{
    color: darkgray;
}

.buttons-container{
    width: 40%;
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
}

.socialBtn{
    width: 30px;
    height: 30px;
    border: 2px solid #6D9Ac4;
    border-radius: 50%;
    padding-top: 2.5px;
}
.social-btn-icon{
    background-color: #fff;
}

h6{
    display: flex;
    align-self: center;
}
 .twitter{
     width: 23px;
     height: 23px;
     border-radius: 50%;
 }

 .signin-btn{
     display: flex;
     margin: 10px auto;
    width: 30%;
    height: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: maroon;
    opacity: 0.7;
    color: #fff;
    font-size: 16;
    border-style: none;

 }